region                = "us-east-1"
instance_type         = "t3.micro"
# Replace with your values (AMI IDs are region-specific)
ami_id                = "ami-xxxxxxxxxxxxxxxxx"
key_name              = "microservices-key"
instance_profile_name = "ec2-ecr-pull-role"
ec2_security_group_id = "sg-xxxxxxxxxxxxxxxxx"

public_subnet_ids = [
  "subnet-xxxxxxxxxxxxxxxxx",
  "subnet-yyyyyyyyyyyyyyyyy"
]

target_group_service1_name = "tg-service1"
target_group_service2_name = "tg-service2"

asg_name             = "microservices-asg"
launch_template_name = "microservices-lt"

cpu_scale_out_threshold          = 40
cpu_scale_out_evaluation_periods = 5
cpu_scale_out_cooldown_seconds   = 300
